/* Custom Styling */

body{
  background: $gray-100;
}

.container-main{
  margin-top: $spacer * 4;
}

// ** CARD **
// ----------

$card-transition-duration: .5s;
$card-border-radius:       30px;

.a-card{
  display: block;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  span{
    display: block;
  }

  &:hover{
    .card--shadow{
      box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
    }
  
    .card__cta{
      right: 12px;
    }

    img{
      transform: scale(1.02);
    }
  }
}

.card{
  border: 1px solid $gray-200;
  position: relative;
  border-radius: $card-border-radius;
  background: #fff;

  &--shadow{
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow ease-in-out $card-transition-duration;
  }
  
  &__img{
    position: relative;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    overflow: hidden;
  }

  &__content{
    padding: $spacer * 2;
    padding-bottom: $spacer * 4;
  }

  &__title{
    margin-bottom: $spacer * 1;
  }

  &__cta{
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: $primary;
    border-radius: 100%;
    transition: right ease-in-out $card-transition-duration;

    i{
      position: absolute;
      top: 12px;
      left: 12px;
      color: #fff;
    }
  }

  img{
    transition: transform ease-in-out $card-transition-duration;
  }
}