/* Custom Styling */

body{
  background: $gray-200;
}

.container-main{
  margin-top: $spacer * 4;
}

// ** CARD **
// ----------

.a-card{
  display: block;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;

  span{
    display: block;
  }

  &:hover{
    .card__cta{
      right: 10px;
    }

    .card__img{
      img{
        transform: scale(1.02);
      }
    }

    .card--shadow{
      box-shadow: 5px 5px 15px 0px rgba($gray-900, 0.2);
    }
  }
}

$card-border-radius: 30px;
$card-transition-duration: .5s;

.card{
  background: #fff;
  border: 1px solid $gray-300;
  border-radius: $card-border-radius;
  position: relative;

  &--shadow{
    box-shadow: 5px 5px 5px 0px rgba($gray-900, 0.1);
    transition: box-shadow ease-in-out $card-transition-duration;
  }

  &__content{
    padding: $spacer * 1.5 $spacer * 1 $spacer * 4.5 $spacer * 1;
    @include media-breakpoint-up(sm){
      padding: $spacer * 2 $spacer * 2 $spacer * 4.5 $spacer * 2;
    }
  }

  &__img{
    overflow: hidden;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;

    img{
      transition: transform ease-in-out $card-transition-duration;
    }
  }

  &__cta{
    background: $primary;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    bottom: 10px;
    right: 20px;
    transition: right ease-in-out $card-transition-duration;

    i{
      color: #fff;
      position: absolute;
      top: 13px;
      left: 13px;
    }
  }

  .h4{
    margin-bottom: $spacer * 1;
  }
}